<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="theme-color"
      content="<%= htmlWebpackPlugin.options.themeColor %>"
    />
    <meta
      name="description"
      content="Frontend application using The Movie Database API. Built with React. Not endorsed or certified by TMDb."
    />
    <link rel="manifest" href="manifest.json" />
    <title>TMDb react</title>
  </head>

  <body>
    <div id="root">
      <h1>TMDb React app</h1>
      <p>JavaScript is required to use the app.</p>
    </div>
  </body>
</html>
