.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex-basis: 28%;
}

.author {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 18px;

  @media (--desktop) {
    font-size: 25px;
  }
}

.content {
  text-align: center;
  font-size: 12px;

  @media (--desktop) {
    font-size: 18px;
  }
}
