@import 'variables.css';

.header {
  position: relative;
  background: black;
  z-index: 100;
}

.navigation {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  color: #fff;
}

.menu {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.menulink {
  display: inline;
  a {
    padding: 0 15px;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    &.active {
      background: $boxcolor;
      color: $fontcolor;
    }
  }
}

.back {
  cursor: pointer;
  color: #fff;
  font-size: 36px;
}

.search {
  font-size: 30px;
  cursor: pointer;
}
