.hero {
	position: relative;
	margin-bottom: 4em;
	color: white;
	a {
		color: white;
	}
}

.movie--hero {
	display: inline-block;
}

.movie--hero__image {

}

.movie--hero__title {
	font-size: 60px;
}

.movie--hero__overview {
	font-size: 20px;
	margin-bottom: 1em;
}

.movie--hero__link {
	font-size: 20px;
}

.movie--hero__info {
	transition: opacity 0.5s, transform 0.3s ease-in-out;
	transition-delay: 0.5s;
	transform: translateX(-50px);
	position: absolute;
	opacity: 0;
	top: 50%;
	width: 30em;
	padding: 2em;
	background: rgba(0, 0, 0, 0.5);
}

.slick-arrow {
	position: absolute;
	z-index: 999;
	top: 40%;
	cursor: pointer;
	font-size: 80px;
	&.slick-prev {
		left: 0;
	}
	&.slick-next {
		right: 0;
	}
}

.slick-dots {
	text-align: center;
	position: absolute;
	bottom: 1em;
	width: 100%;
	li {
		display: inline;
		button {
			height: 12px;
			cursor: pointer;
			width: 12px;
			border-radius: 12px;
			border: none;
			font-size: 0;
			margin: 10px;
			background-color: white;
		}
	}
}


.movie--hero.slick-active {
	.movie--hero__info {
		transform: translateX(0);
		opacity: 1;
	}
}

