.container {
	position: relative;
	overflow: hidden;
	margin-bottom: 4em;
	color: white;
	a {
		color: white;
	}
}

.image {

}

.title {
	font-size: 60px;
}

.overview {
	font-size: 20px;
	margin-bottom: 1em;
}

.link {
	font-size: 20px;
}

.info {
	transition: opacity 0.5s, transform 0.3s ease-in-out;
	transition-delay: 0.5s;
	transform: translateX(-50px);
	position: absolute;
	opacity: 0;
	bottom: 10%;
	width: 30em;
	padding: 2em;
	background: rgba(0, 0, 0, 0.5);
}
