.image-load-container {
  position: absolute;
  background-color: #ccc;
}

.movie--image__full {
  transition: opacity 0.5s;
  max-width: 100%;
  opacity: 0;
  &.img__loaded {
    opacity: 1;
  }
}

.movie--title__full {
  font-size: 80px;
  margin-top: 170px;
  text-shadow: 0 0 15px #000;
  position: relative;
  color: #fff;
}

.movie--tagline__full {
  position: relative;
  color: #fff;
  text-shadow: 0 0 15px #000;
  text-align: center;
}

.movie--info__full {
  background: rgba(255,255,255, 1);
  position: relative;
  padding: 2em;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie--genres {
  flex-basis: 88%;
}

.movie--details {
  flex-basis: 30%;
  align-self: center;
}

.movie--overview__full {
  font-size: 20px;
  flex-basis: 60%;
  p {
    line-height: 30px;
    margin-top: 1em;
  }
}

.movie--score__full {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  .score-icon {
    font-size: 100px;
  }
  .score {
    position: absolute;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
    top: 39px;
    left: 0;
  }
}
