.image-load-container {
  position: absolute;
  background-color: #ccc;
}

.movie--image__full {
  transition: opacity 0.5s;
  max-width: 100%;
  opacity: 0;
  &.img__loaded {
    opacity: 1;
  }
}

.movie--title__full {
  font-size: 80px;
  margin-top: 170px;
  text-shadow: 0 0 15px #000;
  position: relative;
  color: #fff;
}

.movie--tagline__full {
  position: relative;
  color: #fff;
  text-shadow: 0 0 15px #000;
  text-align: center;
}

.movie--info__full {
  background: rgba(255,255,255, 1);
  position: relative;
  padding: 2em;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie--genres {
  width: 100%;
}

.movie--details {
  flex-basis: 25%;
  padding-right: 1.5em;
  align-self: center;
}

.movie--overview__full {
  font-size: 20px;
  padding-right: 1.5em;
  flex-basis: 60%;
  p {
    line-height: 30px;
    margin-top: 1em;
  }
}

.movie--score__full {
  flex-basis: 14%;
  align-self: center;
  .score {
    background: #000;
    text-align: center;
    display: block;
    padding: 30px;
    border-radius: 50%;
    font-weight: 400;
    color: #fff;
    font-size: 50px;
  }
}
