.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review {
  padding: 2em 0;
  flex-basis: 28%;
}

.review--author {
  text-align: center;
  font-size: 25px;
}

.review--content {

}
