.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review {
  flex-basis: 28%;
}

.review--author {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 25px;
}

.review--content {
  text-align: center;
}
