.searchbox {
  position: absolute;
  z-index: 1;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.15, 1, 0.33, 1);
  background: red;
  padding: 1em;
  &.collapsed {
    transform: translateY(0);
  }
}

.searchbox--input {
  width: 100%;
  padding: 1em;
  font-size: 20px;
}
