@value colors: './colors.pcss';
@value bgalt from colors;

.section {
  position: relative;
  padding: 3em;
}

.dark {
  background-color: bgalt;
  color: #fff;
  a {
    color: #fff;
  }
}

.title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 50px;
}
