$boxcolor: #fff;
$fontcolor: #000;
$bgcolor: #C6C2B1;
//$bgcolor: #282828;
$bgalt: #ddd;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: $bgcolor;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1em;
}

h1 {
  margin: 0.5em;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin: 0 0 0.5em 0;
}

p {
  line-height: 25px;
}

.container {
  width: 60em;
  margin: 0 auto;
  overflow: hidden;
}

.navigation {
  background: $bgalt;
  text-align: center;
  margin: 0;
  .navigation--link {
    font-size: 30px;
    display: inline;
    a {
      padding: 10px;
      display: inline-block;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: $fontcolor;
      &.active {
        background: $boxcolor;
      }
    }
  }
}

.back-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  padding: 10px;
  font-size: 36px;
}

.resultList {
  column-count: 5;
  column-gap: 0;
}

.movie {
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  background: $boxcolor;
  color: $fontcolor;
  overflow: hidden;
  &:hover {
    .movie--info {
      transform: translateY(0);
    }
  }
}

.movie__full {
  position: relative;
}

.movie--info {
  transition: transform 0.5s cubic-bezier(0.15, 1, 0.33, 1);
  background: rgba(255,255,255, 0.8);
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  transform: translateY(100%);

}

.movie--score__full {
  top: 1em;
  right: 1em;
  position: absolute;
  .score-icon {
    font-size: 100px;
  }
  .score {
    position: absolute;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    top: 39px;
    left: 36px;
  }
}

.movie--title__full {
  font-size: 80px;
  margin-top: 170px;
  text-shadow: 0 0 15px #000;
  position: relative;
  color: #fff;
}

.movie--tagline__full {
  position: relative;
  color: #fff;
  text-shadow: 0 0 15px #000;
  text-align: center;
}

.movie--info__full {
  background: rgba(255,255,255, 0.9);
  position: relative;
  padding: 2em;
  margin-top: 150px;
}

.image-load-container {
  position: absolute;
  background-color: #ccc;
}

.movie--image__full {
  max-width: 100%;
  opacity: 0
  &.img__loaded {
    opacity: 1;
  }
}

.page-wrapper {
  transition: transform 0.8s cubic-bezier(0.15, 1, 0.33, 1);
}

.pageSlider-enter {
  transform: translateX(100%);
}

.pageSlider-enter.pageSlider-enter-active {
  transform: translateX(0);
}

.pageSlider-leave {
  transform: translateX(0);
}

.pageSlider-leave.pageSlider-leave-active {
  transform: translateX(-100%);
}
