$boxcolor: #fff;
$fontcolor: #000;
$bgcolor: #C6C2B1;
$bgalt: #ddd;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: $bgcolor;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1em;
}

h1 {
  margin: 0.5em;
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin: 0 0 0.5em 0;
}

p {
  line-height: 25px;
}

.navigation {
  background: $bgalt;
  text-align: center;
  margin: 0;
  .navigation--link {
    font-size: 30px;
    display: inline;
    a {
      padding: 10px;
      display: inline-block;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: $fontcolor;
      &.active {
        background: $boxcolor;
      }
    }
  }
}

.movies {
  clear: both;
}

.resultList {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  flex: 33%;
  margin: 10px;
  position: relative;
  overflow: hidden;
  background: $boxcolor;
  color: $fontcolor;
}

.movie--image {
  float: right;
  width: 30%;
}

.movie--info {
  padding: 20px;
  float: left;
  width: 70%;
}

.page-wrapper {
  transition: transform 0.8s cubic-bezier(0.15, 1, 0.33, 1);
}

.pageSlider-enter {
  transform: translateX(100%);
}

.pageSlider-enter.pageSlider-enter-active {
  transform: translateX(0);
}

.pageSlider-leave {
  transform: translateX(0);
}

.pageSlider-leave.pageSlider-leave-active {
  transform: translateX(-100%);
}