.movie {
  position: relative;
  display: block;
}

.info {
  position: absolute;
  bottom: 0;
  padding: 1em;
  color: #fff;
  text-shadow: 0 0 15px #000;
}

.title {
  padding: 0.2em 0;
}

.overview {
  font-size: 20px
}

:global {
  .size-1 {
    width: 33.3333%;
    font-size: 25px;
  }
  .size-2 {
    width: 66.666%;
    font-size: 40px;
  }
  .size-3 {
    width: 66.666%;
    font-size: 60px;
  }
}
