
.h-large {
  font-weight: 700;
  margin: 0.5em;
  line-height: 1em;
  text-align: center;
  font-size: 40px;
}

.h-medium {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 0.5em 0;
}

.h-small {
  font-weight: 600;
}

