@import "./variables.pcss";

.headingLarge {
  font-weight: 700;
  margin: 0.5em;
  line-height: 1em;
  text-align: center;

  font-size: 30px;

  @media (--desktop) {
    font-size: 50px;
  }
}

.headingMedium {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 0.5em 0;
}

.headingSmall {
  font-weight: 600;
}
