@import "../../../css/variables.pcss";

.container {
  flex-basis: 25%;
  padding-right: 1.5em;
  align-self: center;
}

.item {
  padding-bottom: 0.5em;
  font-size: 12px;

  @media (--desktop) {
    font-size: 18px;
  }
}

.label {
  font-weight: 400;
  margin-right: 1em;
}
